---
---

@import "{{ site.theme }}";

.h1 {
    display: inline;
}

#my_pic {
    float: right;
    width:100px;
    background: #555;
    display: inline-flex;
}

.tag-h1 {
    display:none
}

body {
    color: #000000;
}

header {   
    background: #035C3D; 
    h1 {
        color: #D8AB4C;
        text-shadow: 0px 2px 0px #593C1F;
    }
}

#banner { 
    background: #9AB3AA;
    border: 1px solid #7B8F87;
    button{
        border: 1px solid #593C1F;
    }
}

