---
---

@import "{{ site.theme }}";


.tag-h1 {
    display:none
}

body {
    color: #000000;
}

header {   
    background: #035C3D; 
    h1 {
        color: #D8AB4C;
    }
}

#banner { 
    background: #9AB3AA;
}
